In [2]:
import pandas as pd
import numpy as np

In [3]:
#Create a list of colors assigned to the variable "colors".
colors = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [4]:
#Created a series with the assigned "colors" variable from above.
colors_series = pd.Series(colors)

In [47]:
#describe the series
colors_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [48]:
colors_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [11]:
#1. Determine the number of elements in fruits.
colors_series.size

17

In [50]:
#OR
len(colors_series)

17

In [12]:
#2. Output only the index from fruits.
colors_series.index

RangeIndex(start=0, stop=17, step=1)

In [49]:
#review 
colors_series.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [13]:
#3. Output only the values from fruits.
colors_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [51]:
#OR 
colors_series.values.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [16]:
#4. Confirm the data type of the values in fruits.
type(colors_series)

pandas.core.series.Series

In [18]:
colors_series.dtype

dtype('O')

In [20]:
#5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.
colors_series.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [21]:
#6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.
colors_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [52]:
#7. Run the code necessary to produce only the unique string values from fruits.
#adding "()" shows an "array" of unique values. removing "()" shows a list of all values.
colors_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [37]:
#8. Determine how many times each unique string value occurs in fruits.
colors_series.value_counts()

kiwi                4
mango               2
pineapple           1
gooseberry          1
honeydew            1
watermelon          1
honeycrisp apple    1
strawberry          1
gala apple          1
blueberry           1
blackberry          1
papaya              1
tomato              1
dtype: int64

In [53]:
#9. Determine the string value that occurs most frequently in fruits.
colors_series.value_counts()

kiwi                4
mango               2
pineapple           1
gooseberry          1
honeydew            1
watermelon          1
honeycrisp apple    1
strawberry          1
gala apple          1
blueberry           1
blackberry          1
papaya              1
tomato              1
dtype: int64

In [54]:
#See review recording
colors_series.value_counts().head(1)

kiwi    4
dtype: int64

In [56]:
#OR
colors_series.value_counts().idxmax()

'kiwi'

In [59]:
#OR
colors_series.value_counts().nlargest(n=1 , keep="all")

kiwi    4
dtype: int64

In [61]:
#10. Determine the string value that occurs least frequently in fruits.

colors_series.value_counts().nsmallest(n=1, keep="all")

pineapple           1
gooseberry          1
honeydew            1
watermelon          1
honeycrisp apple    1
strawberry          1
gala apple          1
blueberry           1
blackberry          1
papaya              1
tomato              1
dtype: int64