# Exercise I

In [75]:
import pandas as pd
import numpy as np

In [2]:
#Create a list of colors assigned to the variable "colors".
colors = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [3]:
#Created a series with the assigned "colors" variable from above.
colors_series = pd.Series(colors)

In [4]:
#describe the series
colors_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [5]:
colors_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [6]:
#1. Determine the number of elements in fruits.
colors_series.size

17

In [7]:
#OR
len(colors_series)

17

In [8]:
#2. Output only the index from fruits.
colors_series.index

RangeIndex(start=0, stop=17, step=1)

In [9]:
#review 
colors_series.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [10]:
#3. Output only the values from fruits.
colors_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [11]:
#OR 
colors_series.values.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [12]:
#4. Confirm the data type of the values in fruits.
type(colors_series)

pandas.core.series.Series

In [13]:
colors_series.dtype

dtype('O')

In [14]:
#5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.
colors_series.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [15]:
#6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.
colors_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [16]:
#7. Run the code necessary to produce only the unique string values from fruits.
#adding "()" shows an "array" of unique values. removing "()" shows a list of all values.
colors_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [17]:
#8. Determine how many times each unique string value occurs in fruits.
colors_series.value_counts()

kiwi                4
mango               2
blueberry           1
watermelon          1
honeydew            1
honeycrisp apple    1
gooseberry          1
tomato              1
pineapple           1
gala apple          1
blackberry          1
strawberry          1
papaya              1
dtype: int64

In [18]:
#9. Determine the string value that occurs most frequently in fruits.
colors_series.value_counts()

kiwi                4
mango               2
blueberry           1
watermelon          1
honeydew            1
honeycrisp apple    1
gooseberry          1
tomato              1
pineapple           1
gala apple          1
blackberry          1
strawberry          1
papaya              1
dtype: int64

In [19]:
#See review recording
colors_series.value_counts().head(1)

kiwi    4
dtype: int64

In [20]:
#OR
colors_series.value_counts().idxmax()

'kiwi'

In [21]:
#OR
colors_series.value_counts().nlargest(n=1 , keep="all")

kiwi    4
dtype: int64

#10. Determine the string value that occurs least frequently in fruits.

colors_series.value_counts().nsmallest(n=1, keep="all")

# Exercise II

In [24]:
#1. Capitalize all the string values in fruits.
colors_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [31]:
#2. Count the letter "a" in all the string values (use string vectorization).

colors_series.apply(lambda row: row.count('a'))

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [54]:
#3. Output the number of vowels in each and every string value.
def vowel_count(str):
    count = 0
    vowels = 'aeiou'
    
    for letters in str:
        if letters in vowel:
            coun

In [ ]:
#4. Write the code to get the longest string value from fruits.

# Exercise III

In [79]:
str_list = list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')
str_list

['h',
 'n',
 'v',
 'i',
 'd',
 'd',
 'u',
 'c',
 'k',
 'k',
 'q',
 'x',
 'w',
 'y',
 'm',
 'b',
 'i',
 'm',
 'k',
 'c',
 'c',
 'e',
 'x',
 'b',
 'k',
 'm',
 'q',
 'y',
 'g',
 'k',
 'x',
 'o',
 'y',
 'n',
 'd',
 'm',
 'c',
 'x',
 'n',
 'w',
 'q',
 'a',
 'r',
 'h',
 'y',
 'f',
 'f',
 's',
 'j',
 'p',
 's',
 'r',
 'a',
 'b',
 't',
 'j',
 'z',
 's',
 'y',
 'p',
 'm',
 'z',
 'a',
 'd',
 'f',
 'a',
 'v',
 'y',
 'r',
 'n',
 'n',
 'd',
 'n',
 'd',
 'v',
 's',
 'w',
 'r',
 'e',
 'a',
 'u',
 'x',
 'o',
 'v',
 'n',
 'c',
 'x',
 't',
 'w',
 'z',
 'p',
 'w',
 'e',
 'j',
 'i',
 'l',
 'z',
 'j',
 'r',
 'm',
 'm',
 'b',
 'b',
 'g',
 'b',
 'y',
 'x',
 'v',
 'j',
 't',
 'e',
 'w',
 'q',
 't',
 'h',
 'a',
 'f',
 'n',
 'b',
 'k',
 'q',
 'p',
 'l',
 'a',
 'r',
 'o',
 'k',
 'k',
 'y',
 'y',
 'd',
 't',
 'u',
 'b',
 'b',
 'm',
 'n',
 'e',
 'x',
 'o',
 'y',
 'p',
 'u',
 'l',
 'z',
 'w',
 'f',
 'h',
 'q',
 'v',
 'c',
 'k',
 'd',
 'p',
 'q',
 't',
 'p',
 'o',
 'p',
 'p',
 'z',
 'q',
 'r',
 'm',
 'c',
 'v',
 'h',
 'h',
 'p',
 'w',
 'g',
 'j',
 'w',
 'u',
 'p',
 'g',
 'z',
 'h',
 'i',
 'o',
 'f',
 'o',
 'h',
 'a',
 'w',
 'y',
 't',
 'l',
 's',
 'i',
 'y',
 'e',
 'c',
 'u',
 'p',
 'r',
 'o',
 'g',
 'u',
 'y']

In [81]:
letters = pd.Series(str_list)
type(letters)

pandas.core.series.Series

In [82]:
letters

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

In [83]:
#1. Which letter occurs the most frequently in the letters Series?
letters.describe()

count     200
unique     26
top         y
freq       13
dtype: object

In [112]:
letters.size

200

In [117]:
#2. Which letter occurs the Least frequently?
letters.value_counts().tail(1)

l    4
dtype: int64

In [141]:
#3. How many vowels are in the Series
def vowels(str):
    if str.lower() == "a":
        return 'a'
    elif str.lower() == 'e':
        return 'e'
    elif str.lower()== 'i':
        return 'i'
    elif str.lower()== 'o':
        return 'o'
    else:
        return 'u'

In [142]:
letters.apply(vowels).value_counts()

u    173
a      8
o      8
e      6
i      5
dtype: int64

In [146]:
#4. How many consonants are in the Series?
not_vowels = vowels != vowels
not_vowels

False

In [109]:
#5. Create a Series that has all of the same letters but uppercased.

In [110]:
#6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.